@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Saira', sans-serif;
}

/* ? SHARE */
section {
  padding: 15vh 0;
}

/* ? HERO */
.hero {
  position: relative;
  width: 100%;
  padding-top: 25vh;
  margin-bottom: 70px;
  background-size: cover;
  background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 36%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url('img/header-hero/hero.jpg') no-repeat center center scroll;
}
.hero:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #00CC66 0%,
    #00CC66 100%
  );
  opacity: 0.8;
}

.hero .mobile-image {
  margin-bottom: -158px;
  max-width: 100%;
}

/* ? GALERIA */
#galeria {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #00CC66 0%,
    #00CC66 100%
  );
}


 /* ? lubricantesPro */
#Lubricantespro {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    #00CC66 0%,
    #00CC66 100%
  );
}

/* ? CONTACTO */

.subscribe-area {
  background: url('img/subscribe-bg.jpg') no-repeat scroll center center / cover;
}

.subscribe-form {
  background-color: #fff;
  padding: 60px;
  border-radius: 5px;
}

/* ? FOOTER */
footer {
  background: #00CC66;
  color: #00CC66;
}
.rrss-icon {
  
 
  font-size: 20px;
  padding: 5%;
  color: #ffff;
}
.copy {
  font-size: 10px;
  padding: 1%;
  text-align: center;
  color: #ffff;
}
.copy-link {
  color: #ffff;
  text-align: center;
}

.rrss-icon:hover,
.copy-link:hover {
  color: #00CC66;
  text-decoration: none;
  transition: 0.5s all ease;
}
